.home h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
    /*  */
}

.pnoteb{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 5px solid #777;
    align-items: center;
    
}

.pnoteb h2,
.pnoteb p {
    margin-bottom: 1rem;
}

.btn{
    background-color: #fff;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.imgs{
    height: 190px;
    width: 190px;
}

.btn:hover{
    color: #fff;
    background-color: #0e1217;
}

.divbtn{
    display: flex;
    gap: 1rem;    
}

.loader {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;
  }
  .loader:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid ;
    border-color: #ff3d00 transparent;
  }
  @keyframes roll {
    0% {
      transform: translateX(-150%) rotate(0deg) ;
    }
    100% {
      transform:  translateX(150%) rotate(360deg);
    }
  }

  .btnedit{
    color: #000000;
  }

  .btnedit:hover{
    color: #FFF;
  }